<header class="header">
    <div class="logo-container">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        @if (isLoggedIn) {
        <span class="username">Welcome, username</span>
        }
    </div>

    <nav class="navbar">
        <button class="btn btn-home" routerLink="/home">Home</button>
        <div>
            <button class="btn btn-primary" routerLink="/catalog">Catalog</button>
        </div>
        @if (!isLoggedIn) {
        <div>
            <button class="btn btn-primary" routerLink="/login">Login</button>
            <button class="btn btn-secondary" routerLink="/register">Register</button>
        </div>
        } @else {
        <div>
            <button class="btn btn-primary" routerLink="/add-watch">Add Watch</button>
            <button class="btn btn-primary" routerLink="/catalog">My Watches</button>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
        }

    </nav>
</header>