<section class="about-content">
  <h2>What are Microbrand Watches?</h2>
  <p>
    Microbrand watches are produced in small numbers and offer a change from the mainstream offerings of established
    manufacturers. Typically more affordable than their well-known counterparts, microbrands often purchase movements
    from industry suppliers or outsource production entirely. This way they can achieve greater flexibility when it
    comes to design and pricing, as well as direct distribution between the manufacturer and the customer. Crowdfunding
    has also become a popular way for microbrands to help bring their projects to life, simultaneously offering
    enthusiasts a diverse range of designs and materials.
  </p>
  <p>
    While microbrand watches may lack the heritage of larger brands, they make up for it with their focus on product
    innovation as well as quality. These watches often feature unconventional designs and materials, catering to
    enthusiasts looking for something different and unique. Despite their affordability, microbrands typically use
    movements from reputable suppliers like ETA and Sellita, ensuring their products perform superbly. Although they may
    not have in-house calibers, microbrands offer customization at lower prices, which makes them an attractive option
    for those seeking unique timepieces.
  </p>
  <p>
    With the growing popularity of microbrand watches, the market is bursting with options. From minimalist designs to
    bold statement pieces, there's something for every taste and style. 
  </p>

</section>